---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import LogoBlock from "../components/blog/LogoBlock.astro";
import PhotoMeta from "../components/blog/PhotoMeta.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description = "",
  pubDate,
  updatedDate,
  heroImage,
  heroImageAlt = "",
  heroImageCreditText = "",
  heroImageCreditLink = "",
} = Astro.props;
---

<main
  class="relative z-30 min-h-screen scroll-smooth bg-zinc-50 dark:bg-[#0F0F0F]"
>
  <article class="flex min-h-screen flex-col justify-between space-y-12">
    <div
      class="flex flex-col items-center justify-center space-y-6 text-center"
    >
      <h1
        class="text-center text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
      >
        {title}
      </h1>

      <div class="text-center font-mono">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>

    {
      heroImage && (
        <div>
          <Image src={heroImage} alt={heroImageAlt} class="w-full" />
          {heroImageAlt && (
            <PhotoMeta
              alt={heroImageAlt}
              credit={heroImageCreditText}
              url={heroImageCreditLink}
            />
          )}
        </div>
      )
    }

    <div
      id="content"
      class={heroImage
        ? "post-content -mt-12space-y-10 px-4 text-zinc-900 dark:text-zinc-300"
        : "post-content  space-y-10 px-4 text-zinc-900 dark:text-zinc-300"}
    >
      <slot />
    </div>

    <div class="px-4">
      <LogoBlock />
    </div>
  </article>
</main>
